<div class="bio-redux">
  <div 
    class="redux"
    data-resources="[{paths: ['components/redux/redux.js', 'components/redux/styles/redux.css']}]"
  >

<button>1</button>
<button>2</button>
<button>3</button>

<div class="list">
 <div class="toggle"></div>
 <div class="toggle"></div>
 <div class="toggle"></div>
</div>


  </div>
</div>