<div 
  class="tabMenu"
data-resources="[{ 
  paths: 
    ['components/static/advanced/styles/index.advanced.css',
    'components/static/advanced/index.advanced.js']
   }]"
  data-init="(function($elm) { $elm.tabMenuComponent() })"
>

  <div class="tabMenu__tab">
    <div class="tabMenu__link"></div>
  </div>

  <div class="tabMenu__content">
    <img src="https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-694540.jpg" alt="" class="tabMenu__img">
    <h2 class="tabMenu__title"></h2>
    <p class="tabMenu__text"></p>
  </div>

</div>
