@import "../../../resources/scss/styles";

.accordion {
  width: 100%;
  height: auto;

  &__item {
    position: relative;

    background: #333;
    color: #fff;

    &--show {
      .accordion__body {
        max-height: 20rem;
        padding: 1.25rem;
        transition: 450ms;
      }
    }
  }

  &__header {
    padding: .625rem 1.25rem;
    display: flex;
    justify-content: space-between;
    align-content: center;
    cursor: pointer;
  }

  &__toggle {
    order: 2;
    font-size: 1.25rem;
  }

  &__body {
    overflow: hidden;
    max-height: 0;
    transition: 300ms;
    padding: 0 1.25rem;
  }

  &__text {
    font-size: 1rem;
    order: 1;
  }
}