<div class="bio-teaser">
	<div class="teaser"
    data-resources=
    "[{
      paths: 
        [
          'components/static/bioteaser/index.bioteaser.js' , 'components/static/bioteaser/styles/index.bioteaser.css'
        ]
    }]"
  >
  <div class="teaser__section">
    <div class="teaser__container">

      {{!-- Teaser --}}
      <div class="teaser__contentWrap">
        <div class="teaser__content">
          <div class="teaser__title"> 
            {{bioDef teaserTitle1 'Learning Purposes Component def'}}
          </div>
          <div class="teaser__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
          </div>
          <button class="teaser__button">
            {{bioDef buttonText1 'Read More'}}
          </button>
        </div>
        <div class="teaser__image"></div>
      </div>

      {{!-- Teaser Reversed --}}
       <div class="teaser__contentWrap teaser__contentWrap--reversed teaser__contentWrap--colored">
        <div class="teaser__content">
          <div class="teaser__title"> 
            {{bioDef teaserTitle2 'Learning Purposes Component def '}}
          </div>
          <div class="teaser__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
          </div>
          <button class="teaser__button">
            {{bioDef buttonText2 'Read More'}}
          </button>
        </div>
        <div class="teaser__image"></div>
      </div>

    </div>
  </div>

  </div>
</div>