@import "../../../resources/scss/styles";

body {
  overflow-x:hidden;
}

.teaser {
  &__section {
    background: $lightgrey;
    width: 100vw;
    height: auto;
    padding: 3rem 1.5rem;
  }

  &__container {
    max-width: 80rem;
    margin: auto;
  }

  &__contentWrap {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 3rem;
    background: $white;

    @media(min-width: $large) {
      background: transparent;
    }
    
    &--reversed {
      .teaser__image {
        order: 0;
        margin-bottom: 2rem;
        margin-top: 0;

        @media(min-width: $large){
          order: 0;
          margin-bottom: 0;
        }
      }

      .teaser__content {
        order: 1;

        @media(min-width: $large){
          order: 1;
          margin-left: 10%;
          margin-right: 0;
          padding-left: 0;
          padding-right: 1.5rem;
        }
      }
    }

    &--colored {

      .teaser__button {
        background-color: $tomato;
        border: 0.125rem solid $tomato;
      }

      .teaser__image {
        background-image: url('https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-691401.jpg');
      }

      .teaser__title {
        color: $tomato;
      }
    }
  }

  &__image {
    background-image: url('https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-683362.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 220px;
    width: 100%;
    order: 0;
    margin-bottom: 2rem;
    
    @media(min-width: $large){
      order: 1;
      margin-bottom: 0;
      flex-basis: 45%;
      height: 380px;
    }
  }

  &__content {
    order: 1;

    @media(min-width: $large){
      order: 0;
      flex-basis: 45%;
      margin-right: 10%;
      padding-left: 1.5rem;
    }
  }

  &__title {
    font-size: 2rem;
    line-height: 2.2rem;
    margin-bottom: 1.2rem;
    padding: 0 1.5rem;
    color: $lightblue;

    @media(min-width: $large) {
      padding: 0;
    }
  }

  &__text {
    font-size: 1rem;
    padding: 0 1.5rem;
    margin-bottom: 2rem;
    max-height: 8rem;
    overflow: hidden;

    @media(min-width: $large) {
      padding: 0;
    }

    &--overflowed {
      position: relative;

      &::before {
        content: '';
        width: 100%;
        height: 1.4rem;
        position: absolute;
        bottom: 0;
        left: 0;
        background: linear-gradient(to top, rgba(233, 233, 233, 0.92), rgba(233, 233, 233, 0.84), rgba(233, 233, 233, 0.48), rgba(233, 233, 233, 0.18));
      }
    }
  }

  &__button {
    padding: 0.8rem 2.6rem;
    background-color: $lightblue;
    border: 0.125rem solid $lightblue;
    color: $white;
    margin: 0 1.5rem 2.5rem 1.5rem;
    cursor: pointer;

    @media(min-width: $large) {
      margin: 0;
    }
  }

  &__related {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #333;

    &--show {
      display: block;
    }
  }
  &__relatedTitle {
    padding: 2rem 1.5rem;
    color: #fff;
    font-size: 2.75rem;
  }
  &__accordionClose {
    font-size: 2rem;
    float: right;
    display: block;
    color: #fff;
    cursor: pointer;
  }
}
