<div class="bio-bank">
  <div 
    class="bank"
    data-resources="[{paths: ['components/bank/bank.js', 'components/bank/styles/bank.css']}]"
  >

    <div class="bank__balance">
     $250,000
    </div>

    <div class="bank__withdraw">
      <button id="withdraw" class="bank__btn bank__btn--withdraw">Withdraw $5,000</button>
    </div>

    <div class="bank__deposit">
      <button id="deposit" class="bank__btn bank__btn--deposit">Deposit $10,000</button>
    </div>

  </div>
</div>
